<h1>Novo Médicos</h1>
<%= form_with(model: [ :doctors_backoffice, @doctor ]) do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class:"form-control", placeholder:"Enter nome" %>
  </div>
  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control", placeholder:"Enter email" %>
  </div>
  <div class="form-group">
    <%= form.label :crm %>
    <%= form.text_field :crm, class:"form-control", placeholder:"Enter CRM" %>
  </div>
  <div class="form-group">
    <%= form.label :crm_uf %>
    <%= form.text_field :crm_uf, class:"form-control", placeholder:"Enter CRM-UF" %>
  </div>
  <div class="form-group">
    <%= form.label :password %>
    <%= form.password_field :password, class:"form-control", placeholder:"Senha" %>
  </div>
  <div class="form-group">
  <%= form.label :password_confirmation %>
  <%= form.password_field :password_confirmation, class:"form-control", placeholder:"Confirmação de Senha" %>
  </div>
  <br>
  <%= link_to "Voltar", doctors_backoffice_doctors_path, class:"btn btn-outline-secondary"%>
  <button type="submit" class="btn btn-primary">Salvar</button>
<% end %>
